# MongoDB connection string
# Для локального Docker используйте:
MONGODB_URI=mongodb://localhost:27017/ios-atr

# Для Docker Compose используйте:
# MONGODB_URI=mongodb://mongodb:27017/ios-atr

# Server port
PORT=3000

# Node environment
NODE_ENV=production

